*
!.gitignore
!CLAUDE.md
!CLAUDE-CHAT.md
!settings.galadriel.json
!settings.macbookpro.json
!keybindings.json
!agents/
!agents/**
!commands/
!commands/**
!hooks/
!hooks/**
!output-styles/
!output-styles/**
!rules/
!rules/**
!skills/
!skills/**
!themes/
!themes/**
.DS_Store
